/* FORCE FULL DOCUMENT COVERAGE */
html,
body {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

/* Light Theme */
html[data-theme="dark"] {
  background-color: #0f1f1a; /* your dark green */
  color: #e6f5ec;
}

html[data-theme="light"] {
  background-color: #f4f7f5;
  color: #0f172a;
}


/* Ensure body inherits theme */
body {
  background: inherit;
  color: inherit;
}
